# Runtime Settings
PROJECT_PATH=.
LOCAL_LISTEN_ADDR=127.0.0.1
NEW_UID=1000
NEW_GID=1000

# Redis Settings
REDIS_VERSION=redis:7.2-alpine
HOST_PORT_REDIS=6379
REDIS_DEFAULT_PASS=tiger

# RabbitMQ Settings
RABBITMQ_VERSION=rabbitmq:4.3-management-alpine
HOST_AMQP_PORT_RABBITMQ=5672
HOST_PORT_RABBITMQ=15672
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=tiger